<div class="modal-header">
    <h4 class="modal-title pull-left">{{data.tipo}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body gray modal-lg">
    <form>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Descrição</label>
        <div class="col-sm-10">
          <span class="form-control label-control">{{data.descricao}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Desastre</label>
        <div class="col-sm-10">
          <span class="form-control label-control">{{data.tipo}}</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Localização</label>
        <div class="col-sm-4">
          <span class="form-control label-control">lat: {{data.latitude}} - lng: {{ data.longitude }}</span>
        </div>

        <label for="staticEmail" class="col-sm-2 col-form-label">Municipio</label>
        <div class="col-sm-4">
          <span class="form-control label-control">{{data.municipio}}</span>
        </div>
      </div>

      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Região</label>
        <div class="col-sm-4">
          <span class="form-control label-control">{{data.regiao}}</span>
        </div>

        <label for="staticEmail" class="col-sm-2 col-form-label">Uf</label>
        <div class="col-sm-4">
          <span class="form-control label-control">{{data.uf}}</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Data Integração</label>
        <div class="col-sm-4">
          <span class="form-control label-control">{{data.dataIntegracao}}</span>
        </div>

        <label for="staticEmail" class="col-sm-2 col-form-label">Site</label>
        <div class="col-sm-4">
          <a target="_blank" href="{{data.site}}">{{data.site}}</a>
          <!-- <span class="form-control label-control">{{data.site}}</span> -->
        </div>
      </div>

      <br>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
  </div>