<agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]="zoom" [minZoom]="minZoom"
      [maxZoom]="maxZoom" [zoomControl]="true">
      <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude"
            [iconUrl]="getIcon(marker.eStatusBarragem)" (markerClick)="selectMarker(marker.barragemId)">
      </agm-marker>

      <agm-marker *ngFor="let marker of markersIntegracao" [latitude]="marker.latitude" [longitude]="marker.longitude"
            [iconUrl]="'assets/icons/mapa_reconhecimento.png'" (markerClick)="selectMarkerIntegracao(marker)">
      </agm-marker>
</agm-map>

<div id="legenda">
      <h6 class="text-center" style="    margin-bottom: 15px;">Legenda</h6>
      <div class="row">
            <div class="col-sm-3 col-3"><img src="assets/icons/green.png"  style="width: 30px;" /></div>
            <div class="col-sm col-9 ft-15">Estável</div>
      </div>
      <div class="row">
            <div class="col-sm-3 col-3"><img src="assets/icons/laranja.png"style="width: 30px;" /></div>
            <div class="col-sm col-9 ft-15">Alerta</div>
      </div>

      <div class="row">
            <div class="col-sm-3 col-3"><img src="assets/icons/red.png" style="width: 30px;" /></div>
            <div class="col-sm col-9 ft-15">Crítico</div>
      </div>

      <div class="row">
            <div class="col-sm-3 col-3"><img src="assets/icons/blue.png" style="width: 30px;" /></div>
            <div class="col-sm col-9 ft-15">Desativada</div>
      </div>
</div>