agm-map { height: 100rem; overflow-x: hidden;}

#legenda{
    background-color: white;
    padding: 10px;
    width: 170px;
    height: 180px;
    position: absolute;
    right: 0;
    z-index: 999;
    bottom: 0;
    margin: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}
.ft-15{ font-size: 15px;    margin-top: 5px;}