.status { height: 20px; width: 20px; border-radius: 50px; float: left; margin: 5px; }

.statusbarragem-1 { margin-top: 8px; background-color: green; }
.statusbarragem-2 { margin-top: 8px; background-color: #ffc107; }
.statusbarragem-3 { margin-top: 8px; background-color: red; }
.statusbarragem-4 { margin-top: 8px; background-color: gray; }
.statusbarragem-5 { margin-top: 8px; background-color: rgb(170, 170, 170); }

.statuscriticidade-1 { margin-top: -1px; color: #0c5460; background-color: #d1ecf1;border-color: #bee5eb;}
.statuscriticidade-2 { margin-top: -1px; color: #856404; background-color: #fff3cd;border-color: #ffeeba;}
.statuscriticidade-3 { margin-top: -1px; color: #721c24; background-color: #f8d7da;border-color: #f5c6cb;}
.margin-top-10 { margin-top: 10px;}