<div class="modal-header">
  <h4 class="modal-title pull-left">{{ data.nome }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body gray modal-lg">

  <div *ngIf="showRiscoRompimento" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Risco de rompimento!</h4>
    <p> <span [innerHTML]="data.riscoRompimento?.mensagem"></span></p>
    <hr>
    <div *ngIf="!showRiscoRompimentoBotoes" class="mb-0 text-right">
      <button type="button" class="btn btn-primary mr-1" (click)="cancelarRompimento()">Não teve rompimento </button>
      <button type="button" class="btn btn-light" (click)="confirmarRompimento()">Confirmar rompimento</button>
    </div>
  </div>


  <form>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Empresa</label>
      <div class="col-sm-10">
        <span class="form-control label-control">{{data.empresa}}</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Localização</label>
      <div class="col-sm-10">
        <span class="form-control label-control">lat: {{data.latitude}} - lng: {{ data.longitude }}</span>
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Tipo </label>
      <div class="col-sm-4">
        <span class="form-control label-control">{{ getEnumTipoBarragem(data.eTipoBarragem)}}</span>
      </div>
      <label for="staticEmail" class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-4">
        <div class="status statusbarragem-{{data.eStatusBarragem}}"></div>
        <span class="form-control label-control">
          {{ getEnumStatus(data.eStatusBarragem) }}
        </span>
      </div>
    </div>
    <br>
    <div class="text-right" *ngIf="!data.riscoRompimento">
      <button type="button" *ngIf="data.eStatusBarragem === 3" class="btn btn-danger"
        (click)="openModalAlert(template)">Risco de Rompimento</button>
    </div>
    <div>
      <tabset>
        <tab heading="Alertas" id="tab1">
          <ng-template *ngIf="data.barragemNotificacao?.length > 0; then showNotificacao; else hiddenNotificacao">
          </ng-template>
          <ng-template #showNotificacao>
            <div class="margin-top-10" *ngFor="let item of data.barragemNotificacao">
              <div class="alert statuscriticidade-{{item.eTipoCriticidade}}" role="alert">
                <small style="float: right;position: relative;">Nível -
                  {{ getEnumCriticidade(item.eTipoCriticidade)}}</small>
                <h5><strong>{{ item.medidor }}</strong></h5>
                <span>{{ item.descricao }}</span>
              </div>
            </div>
            <br>
          </ng-template>

          <ng-template #hiddenNotificacao>
            <div class="alert alert-light" role="alert">
              Barragem {{ getEnumStatus(data.eStatusBarragem) }}, não encontramos nenhum alerta hoje.
            </div>
          </ng-template>
        </tab>
        <tab heading="Equipamentos" id="tab2">
          <ng-template *ngIf="data.medidor?.length > 0; then showMediddor; else hiddenMedidor"></ng-template>
          <ng-template #showMediddor>
            <table class="table margin-top-10">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Código</th>
                  <th scope="col">Tipo do Equipamento </th>
                </tr>
              </thead>
              <tbody *ngFor="let item of data.medidor">
                <tr>
                  <td>{{ item.nome }}</td>
                  <td>{{ item.codigo }}</td>
                  <td>{{ getEnumTipoMedidor(item.eTipoMedidor) }}</td>
                </tr>
              </tbody>
            </table>
          </ng-template>

          <ng-template #hiddenMedidor>
            <div class="alert alert-light" role="alert">
              Não encontramos equipamentos em volta da barragem.
            </div>
          </ng-template>
        </tab>
      </tabset>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
</div>