<div class="modal-header">
  <h4 id="dialog-nested-name2" class="modal-title pull-left">RISCO DE ROMPIMENTO</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-sm">
  <p class="text-justify">
    Tem certeza que deseja emitir um comunicado de segurança para a comunidade sobre a <strong>{{barragem}}</strong>?
  </p>
  <div class="text-right">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Não</button>
    <button type="button" class="btn btn-danger" (click)="confirm()">Sim</button>
  </div>
</div>