<div class="text-center" style="margin-top: 5rem;">
    <img src="../../assets/logo-puc.png" class="img-fluid" style="width: 60px;" />
</div>

<div id="card-login" class="col-md-4 offset-md-4" style="position: absolute; margin-top: 1rem;">
    <div class="card">
        <h4 class="card-header text-center">Login</h4>
        <h6 class="card-header text-center">TCC - PUC Monitoramento de barragens</h6>
        <div class="card-body">
            <div *ngIf="error" class="alert alert-danger mb-3">{{error}}</div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email é obrigatório</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                    </div>
                </div>
                <div class=" float-right">
                    <button [disabled]="loading" class="btn btn-primary">
                        Acessar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>