/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background: #f6f6f6;
    color: #545555;
    font: 400 1em/1.25 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  }
  
  .label-control {border: 1px solid #f3f3f3;}
  .ng-sidebar__content--animate{overflow: hidden !important;}


  .overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(74,74,74,.8);
    z-index:99999;
  }
.progress-loader  {position:absolute;
  top:50%;
  left:45%;font-size: 30px;
  color: white;}