/* :host(app-menu), :host(ng-sidebar-container){position: absolute;z-index: 2;} */

::selection {
    background-color: #0273d4;
    color: #fff;
  }
  
  a {
    color: #0273d4;
    text-decoration: none;
  }
    /* a:hover {
      border-bottom: 1px dotted #0273d4;
    } */
  
  p {
    margin-bottom: 1em;
  }
  
  h1,
  h2 {
    font-weight: 300;
  }
  
  h1 {
    border-bottom: 1px dotted #0273d4;
    display: block;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
  }
  
  h2 {
    margin: 0.5rem 0;
  }
  
  .loading {
    padding: 1em;
  }
  
  ::ng-deep aside {
    background-color: #fff;
    padding: 2em 1em;
  }
  
  .demo-header {
    align-items: center;
    background: #ffffff;
    color: #0273d4;
    display: flex;
    padding: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  }
  
    .demo-header__toggle {
      background: transparent;
      border: 0.15rem solid #0273d4;
      border-left: 0;
      border-right: 0;
      cursor: pointer;
      font-size: 0;
      height: 1.5rem;
      margin-right: 1rem;
      position: relative;
      width: 2rem;
    }
      .demo-header__toggle:after {
        background: #0273d4;
        content: '';
        height: 0.15rem;
        left: 0;
        margin-top: -0.075rem;
        position: absolute;
        top: 50%;
        width: 100%;
      }
      
    .demo-sidebar.ng-sidebar--opened.ng-sidebar--over {
      box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    }
  
  .demo-control {
    background-color: #f6f6f6;
    border: 1px solid #545555;
    border: 1px solid #545555;
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 0.5em 2em;
    transition: background-color 0.15s;
  }
  .demo-control:hover {
      background-color: #545555;
      color: #fff;
    }
    .navbar{    width: 100%;}
    