<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar [(opened)]="_opened" [showBackdrop]="false" [animate]="true" [closeOnClickOutside]="true">
    <!-- <p>Sidebar contents</p>

    <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
    <p><a closeSidebar>This will close the sidebar too</a></p> -->
  </ng-sidebar>

  <div ng-sidebar-content>
    <header class="demo-header">
      <img src="../../assets/logo-puc.png" class="img-fluid" style="width: 50px;" />

      <nav class="navbar navbar-light mx-center">
        <form class="form-inline col col-sm" novalidate onsubmit="return false;">
          <input class="form-control mx-auto col-12 col-sm-6" [typeahead]="autocomplete$" typeaheadOptionField="nome"
            [typeaheadMinLength]="2" (typeaheadOnSelect)="onSelect($event)" placeholder="Pesquise o nome da barragem"
            [formControl]="nomeSearch" aria-label="Search" />
        </form>

        <!-- <span class="navbar-text pull-right">
          <i class="material-icons">
            notification_important
          </i>
        </span> -->

        <div class="btn-group" dropdown>
          <span style="line-height: 24px;">{{this.authenticationService.currentUserValue.nameUser}}</span>
          <a href="javascript:void(0)" dropdownToggle>
            <i class="material-icons">
              more_vert
            </i>
          </a>

          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
            aria-labelledby="button-basic">
            <!-- <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li> -->
            <li role="menuitem">
              <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Sair</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="demo-contents">
      <app-maps></app-maps>
    </section>
  </div>
</ng-sidebar-container>

